!!! 5
html
  head
    meta(charset="utf-8")
    title Maximus HTML5
    link(rel='stylesheet', href='/css/layout.css' )    
    script(src='/js/lib/json2.js')
    script(src='/js/lib/jquery-1.5.min.js')
    script(src="/js/lib/socketio-client/socket.io.js")
    script(src='/js/lib/math.uuid.js')
    script(src='/js/lib/knockout-latest.debug.js')
    script(src='/js/lib/knockout.sync.client.js')
    
  body!= body